.DS_Store
*.exe
*.class
*.jar
*.dll
target
/2025-1/sesion-de-clase-07/LogManager/nbproject/private/
/2025-1/sesion-de-clase-07/LogManager/build/
/2025-1/sesion-de-clase-07/LogManager/dist/
/2025-1/sesion-de-clase-08/SoftProg/SoftProgRRHHDA/src/main/resources/db.properties
bin
.vs
obj
.vsidx
*.cache*.dbcache.json
*.suo
*.user
packages
*/packages/*
/2025-2/sesion-de-clase-04/java/SoftProgAccesoDatos/nbproject/private/
/2025-2/sesion-de-clase-04/java/AplicacionDePrueba/nbproject/private/
/2025-2/sesion-de-clase-04/java/SoftProgAccesoDatos/dist/
/2025-2/sesion-de-clase-04/java/SoftProgAccesoDatos/build/
/2025-2/sesion-de-clase-04/java/AplicacionDePrueba/build/
/2025-2/sesion-de-clase-04/java/AplicacionDePrueba/dist/
/2025-2/sesion-de-clase-04/java-ant/SoftProgModelo/nbproject/private/
/2025-2/sesion-de-clase-04/java-ant/SoftProgDAO/nbproject/private/
/2025-2/sesion-de-clase-04/java-ant/SoftProgBO/nbproject/private/
/2025-2/sesion-de-clase-04/java-ant/SoftProgDBManager/nbproject/private/
/2025-2/sesion-de-clase-04/java-ant/SoftProgPruebas/nbproject/private/
/2025-2/sesion-de-clase-05/ejercicio01/AppPruebaAnt/nbproject/private/
/2025-2/sesion-de-clase-05/ejercicio01/AppPruebaAnt/build/
/2025-2/sesion-de-clase-05/ejercicio01/AppPruebaAnt/dist/
/2025-2/BK/
