# Ignorar archivos específicos del IDE
*.suo
*.user
*.cache*.dbcache.json
*.suo
*.user

# Ignorar artefactos de compilación
*.exe
*.class
*.jar
*.dll
target
bin
.vs
obj

# Ignorar carpetas privadas de proyectos NetBeans
*/nbproject/private/

# Ignorar carpetas de compilación y distribución
*/build/
*/dist/

# Ignorar .properties en cualquier carpeta
**/*.properties

# Ignorar carpetas específicas de sesiones dinámicamente
*/sesion-de-clase-*/**/nbproject/private/
*/sesion-de-clase-*/**/build/
*/sesion-de-clase-*/**/dist/

# Ignorar otras carpetas específicas
packages
*/packages/*
.vsidx

# Ignorar configuración de GitHub y JetBrains IDEs en cualquier carpeta
**/.github/
**/.idea/
.DS_Store
2026-1/proyecto-final
2026-1/SoftProg/
2026-1/SoftProg.zip