<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Configuracion para MySQL -->

		<add key="db.provider" value="MySql.Data.MySqlClient" />
		<add key="db.host" value="softprog-mysql.crgkomwiw9jg.us-east-1.rds.amazonaws.com" />
		<add key="db.puerto" value="3306" />
		<add key="db.basedatos" value="softprog" />
		<add key="db.usuario" value="admin" />
		<add key="db.password" value="6wPn8CUFshchfM8/iPW4FA==" />


		<!-- Configuracion para SQL Server -->
		<!--
		<add key="db.provider" value="System.Data.SqlClient" />
		<add key="db.host" value="softprog-mssql.crgkomwiw9jg.us-east-1.rds.amazonaws.com" />
		<add key="db.puerto" value="1433" />
		<add key="db.basedatos" value="softprog" />
		<add key="db.usuario" value="admin" />
		<add key="db.password" value="6wPn8CUFshchfM8/iPW4FA==" />-->
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.data>
		<DbProviderFactories>
			<!-- MySQL Data Provider -->
			<add name="MySQL Data Provider"
				 invariant="MySql.Data.MySqlClient"
				 description=".Net Framework Data Provider for MySQL"
				 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=9.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
</configuration>